
button {
    background-color: #6DAFFE;
    border-radius:15px;
    margin:20px;
    margin-inline-start: 26.5%;
       
}


table, th, td{    
    border-collapse: separate;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 25%;
    height:40px;
    width:50%;
    text-align: center;


}