.container{
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 4%;
}

.product{
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 12.5%;
}

.price{
    text-align: center;
}

.description{
    text-align: center;
    color: gray;
}

input[type=submit], button[type=button] {
    color:white;
    background-color: #6DAFFE; 
    border-style:none;
    padding:5px 7px 3px 7px;
    border-radius:10px;
}

input[type=submit]:hover {
    border-color:#334754;
    background-color: #e04362;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.2em);
    cursor:pointer;
}

button#addToCart{
    color:white;
    background-color: #6DAFFE; 
    border-style:none;
    margin: 11% auto;
    margin-bottom: 7.5%;
    display: block;
    padding:5px 7px 3px 7px;
    border-radius:10px;
}

#addToCart:hover{
    border-color:#334754;
    background-color: #e04362;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.2em);
    cursor:pointer;
}

button#addToCart:hover{
    border-color:#334754;
    background-color: #e04362;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.2em);
    cursor:pointer;
}

.itemID{
    width: 300px;
    text-align: center;
    margin: 1% auto;
}

.col-md-3{
    text-align: right;
}

.text{
    text-align: right;
}

button#SaveProduct{
    color:white;
    background-color: #6DAFFE; 
    border-style:none;
    margin: auto;
    margin-bottom: 2.5%;
    display: block;
    padding:5px 7px 3px 7px;
    border-radius:10px;
    width: 200px;
}

button#SaveProduct:hover{
    border-color:#334754;
    background-color: #e04362;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.2em);
    cursor:pointer;
}

input[type = submit]{
    color:white;
    background-color: #6DAFFE; 
    border-style:none;
    margin: auto;
    margin-bottom: 2.5%;
    display: block;
    padding:5px 7px 3px 7px;
    border-radius:10px;
    width: 200px;
}

input:hover[type = submit]{
    border-color:#334754;
    background-color: #e04362;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.2em);
    cursor:pointer;
}
